.modal-container{    
        height: 100px;
        width: 200px;
        color:yellow;
          .modal-box {
            width: 40px;
            height: 40px;
            background-color: black;
          }
        
}
